.am-slider {
	position: relative;

	.slides, .am-direction-controls, .am-nav-controls {
		clear:both;
		margin: 0;
		padding: 0;
	}

	.am-direction-controls, .am-nav-controls {
		/* position: relative; */
		z-index: 3;
	}

	.am-direction-controls li {
		a {
			background-color: white;
			display: block;
			padding: 3em 0.2em;
			position: absolute;
			top:50%;
			transform: translateY(-50%) translate3d(0,0,0);
			z-index: 5;

			&:hover { background-color: darken(white, 5%); }
		}

		&.am-prev a {
			left: 0;
		}

		&.am-next a {
			right: 0;
		}
	}

	.am-nav-controls {
		bottom: 1.4em;
		position: relative;
		text-align: center;
		// transform: translateX(-50%) translate3d(0,0,0);

		.am-tab {
			display: inline-block;
		}

		a {
			background-color: white;
			margin: 0 -1px;
			padding: 0.4em 1em;

			&:hover { background-color: darken(white, 5%); }
		}

		.am-tab-current a {
			background-color: darken(white, 50%);
			color: white;
		}
	}
}
.slides {
	& > li {
		width: 100%;
		z-index: 1;

		&.am-current {
			z-index: 2;
		}
	}

	img {
		display: block;
		width: 100%;
	}

	.slider-nav {
		left: 50%;
		opacity: 0;
		position: absolute;
		text-align: center;
		top: 100%;
		transform: translate(-50%, -100%);
		transition: all 0.5s;
		z-index: 10;

		li {
			background-color: white;
			display: inline-block;
			padding: 5px;
		}
	}
}