/**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono|Ubuntu:300,500,300italic,500italic|Oswald:400,700);
/* line 6, ../_reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 26, ../_reset.scss */
body {
  line-height: 1;
}

/* line 29, ../_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 33, ../_reset.scss */
nav ul {
  list-style: none;
}

/* line 36, ../_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 39, ../_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 44, ../_reset.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
/* line 52, ../_reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
/* line 58, ../_reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 64, ../_reset.scss */
del {
  text-decoration: line-through;
}

/* line 67, ../_reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 71, ../_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
/* line 76, ../_reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 84, ../_reset.scss */
input, select {
  vertical-align: middle;
}

/* line 5, ../_globals.scss */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* line 9, ../_globals.scss */
body {
  background-color: #f2f2f2;
  color: #8c8c8c;
  font-family: Ubuntu;
  font-weight: 300;
}

/* line 16, ../_globals.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Oswald;
  font-weight: 400;
}

/* line 21, ../_globals.scss */
h1 {
  font-size: 5em;
}

/* line 22, ../_globals.scss */
h2 {
  color: #595959;
  font-size: 4em;
}

/* line 23, ../_globals.scss */
h3 {
  color: #bfbfbf;
  font-size: 2.8em;
}

/* line 25, ../_globals.scss */
ul {
  list-style-type: none;
}

/* line 26, ../_globals.scss */
a {
  color: #595959;
  text-decoration: none;
}

/* line 31, ../_globals.scss */
p {
  margin: 1em 0;
}

/* line 32, ../_globals.scss */
pre {
  margin: 0;
  margin-bottom: 1em;
  padding: 1em 1em 0.1em;
}
/* line 37, ../_globals.scss */
pre:last-child {
  margin-bottom: 0;
}

/* line 40, ../_globals.scss */
pre, .code {
  background-color: #595959;
  color: white;
  font-family: "Ubuntu Mono";
  font-size: 0.9em;
}

/* line 48, ../_globals.scss */
.slider-wrap {
  background-color: white;
  border: 1px solid #dedede;
  max-width: 960px;
  margin: 2em auto;
  padding: 2em;
}

/* line 56, ../_globals.scss */
.am-slider {
  margin-top: 2em;
}

/* line 1, ../_slider.scss */
.am-slider {
  position: relative;
}
/* line 4, ../_slider.scss */
.am-slider .slides, .am-slider .am-direction-controls, .am-slider .am-nav-controls {
  clear: both;
  margin: 0;
  padding: 0;
}
/* line 10, ../_slider.scss */
.am-slider .am-direction-controls, .am-slider .am-nav-controls {
  /* position: relative; */
  z-index: 3;
}
/* line 16, ../_slider.scss */
.am-slider .am-direction-controls li a {
  background-color: white;
  display: block;
  padding: 3em 0.2em;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) translate3d(0, 0, 0);
          transform: translateY(-50%) translate3d(0, 0, 0);
}
/* line 24, ../_slider.scss */
.am-slider .am-direction-controls li a:hover {
  background-color: #f2f2f2;
}
/* line 27, ../_slider.scss */
.am-slider .am-direction-controls li.am-prev a {
  left: 0;
}
/* line 31, ../_slider.scss */
.am-slider .am-direction-controls li.am-next a {
  right: 0;
}
/* line 36, ../_slider.scss */
.am-slider .am-nav-controls {
  bottom: 1.4em;
  position: relative;
  text-align: center;
}
/* line 42, ../_slider.scss */
.am-slider .am-nav-controls .am-tab {
  display: inline-block;
}
/* line 46, ../_slider.scss */
.am-slider .am-nav-controls a {
  background-color: white;
  margin: 0 -1px;
  padding: 0.4em 1em;
}
/* line 51, ../_slider.scss */
.am-slider .am-nav-controls a:hover {
  background-color: #f2f2f2;
}
/* line 54, ../_slider.scss */
.am-slider .am-nav-controls .am-tab-current a {
  background-color: gray;
  color: white;
}

/* line 61, ../_slider.scss */
.slides > li {
  float: left;
  margin-right: -100%;
  width: 100%;
  z-index: 1;
}
/* line 67, ../_slider.scss */
.slides > li.am-current {
  z-index: 2;
}
/* line 72, ../_slider.scss */
.slides img {
  display: block;
  width: 100%;
}
/* line 77, ../_slider.scss */
.slides .slider-nav {
  left: 50%;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 100%;
  -webkit-transform: translate(-50%, -100%);
      -ms-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
  z-index: 10;
}
/* line 87, ../_slider.scss */
.slides .slider-nav li {
  background-color: white;
  display: inline-block;
  padding: 5px;
}

/*# sourceMappingURL=main.css.map */
