/* line 1, ../_toast.scss */
body {
  font-family: sans-serif;
}

/* line 2, ../main.scss */
body {
  background-color: green;
  -webkit-animation-name: scale;
          animation-name: scale;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
